@model IEnumerable<Epicode_S7_L5_BackEnd_Project.Models.Utente>

@{
    ViewBag.Title = "ListaUtente";
}

<h2 class="text-center">Lista Utenti</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ruolo.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ruolo.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Modifica", "ModificaUtente", new { id=item.IdUtente }) |
            @Html.ActionLink("Dettaglio", "DettaglioUtente", new { id=item.IdUtente }) |
            @Html.ActionLink("Elimina", "EliminaUtente", new { id=item.IdUtente })
        </td>
    </tr>
}

</table>
